.filters {
    background-color: white;
    height: auto;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-bottom: 30px;
}

.filter-content {
    display: flex;
    height: 70px;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    padding: 15px;
    position: relative;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
    margin-bottom: 5px;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    margin-top: 0;
    padding: 20px;
    z-index: 1;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover h2 {
    font-size: 16px;
    margin: 0 0 5px 0;
}

.popover ul {
    list-style: none;
    padding-left: 20px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin: 11px 20px;
    cursor: pointer;
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.9;
}

@media screen and (max-width: 768px) {
    .filters {
        height: auto;
    }

    .filter-content {
        flex-direction: column;
        height: auto;
    }

    .locations, .amenities {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #DDDDDD;
    }

    button {
        width: calc(100% - 40px);
        margin: 10px 20px;
    }

    .popover {
        position: static;
        display: none;
        margin-top: 10px;
    }

    .locations:hover .popover,
    .amenities:hover .popover {
        display: none;
    }

    .locations.active .popover,
    .amenities.active .popover {
        display: block;
    }
}